{% extends 'layouts/base.html' %}

{% block contenido %}
<h1> Cargar alumno</h1>
<form method="post" action="{% url 'cargar_alumnos' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="archivo_csv" accept=".csv">
    <button type="submit">Cargar Alumnos</button>
</form>
{% if form.errors %}
    <ul class="errorlist">
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|join:", " }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}